.searchContainer{
    display:flex;
    background-color: black;
    padding: 0 2rem;

    form{
        margin: auto;

        input{
            background-color: rgb(33, 33, 33);
        }
    }
}
.logo {
    color: white;
}