.searchContainer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display:flex;
    align-items: center;
    background-color: rgb(36, 36, 36);
    color: white;
    padding: .5rem 1.5rem;
    
    
    form{
        color: white;
        margin: auto;

        input{
            height: 2rem;
            background-color: black;
            width: 35vw;
            color: rgb(222,222,222);
        }
    }
}
.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -3px;
    &:hover{
        cursor: pointer;
        color: rgb(222, 33, 33);
    }
}

// ------ icons ---------
.searchIcons {
    position: relative;
    top: 4px;

    &:hover{
        color: red;
    }
}
.iconGroup{
    display: flex;
    justify-content: space-evenly;
    width: 15vw;
}
.searchBars {
    margin-right: 2rem;
    font-size: 1.5rem;
}
.logoIcon{
    color: red;
    font-size: 2rem;
    top: 6px;
    margin-right: .25rem;
}
.deleteIcon{
    position: relative;
    right: 1rem;
}
.searchIcon{
    background-color: rgb(55, 55, 55);
    position: relative;
    right: 1rem;
    padding: .5rem  1.5rem;
}
.microphone {
    background-color: black;
    padding: .5rem;
    border-radius: 50%;
}
.videoIcon{
    top: 4px;
    font-size: 1.5rem;
}

//------- TOOL TIP ------------>
.toolTip {
    position: relative;
    display: inline-block;
  }
  
  .toolTipText {
    visibility: hidden;
    font-size: 1rem;
    width: 170px;
    background-color: rgb(61, 60, 60);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 50%;
    margin-left: -90px;
    // z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .toolTip:hover .toolTipText {
    visibility: visible;
    
  }