.videoConsole {
    background-color: black;
    color: white;
    display: flex;
    border: solid red .5rem;
    margin: 1rem;
    padding: 1rem;
}
.consolePlayer {
    width: 60vw;

    border: solid 2px yellow;
    display: flex;
}
.consoleList {
    width: 30vw;
    border: solid blue 1px;
    margin-left: 1rem;
    overflow: scroll
}