.videoConsole {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}
.consoleVertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.consoleNav {
    color: red;
}
.consoleDisplay {
    display: flex;
}
.consolePlayer {
    width: 60vw;
    height: 600px;

}
.videoBig {
    height:100%;
    
}

.consoleList {
    width: 40vw;
    
}